.card {
  background: #1a2930;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #0a1612, 0 3px 6px #0a1612;
  text-align: left;
  color: #c5c1c0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin-top: 20px;
}
li {
  padding: 3px;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background: #f7ce3e;
}
.card > .img-container > img {
  width: 60%;
  margin-left: 2.5%;
}

.card > .content {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 6px;
}
